<!DOCTYPE html>
<html>
<head>
  <title>Kuku</title>
  <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>


<div class="container">

  <div class="row">
    <div class="col-md-6">

      <form role="form">

        <input id="parent_dir" type="hidden" value="{{ parent_dir }}"/>
        <input id="current_dir" type="hidden" value="{{ current_dir }}"/>

        <select id="selector" multiple="multiple" autofocus="autofocus" style="width: 100%; height: 480px">
          {% if current_dir != '' %}
          <option value=".." data-url="../" data-type="dir">..</option>
          {% end %}
          {% for name, property in dirs.items() %}
          <option value="{{ name }}" data-url="{{ name }}/" data-type="dir">{{ name }}/</option>
          {% end %}
          {% for name, property in files.items() %}
          <option value="{{ name }}" data-url="{{ name }}" data-type="file" data-mime="{{ property['mime'] }}">{{ name }}</option>
          {% end %}
        </select>

      </form>

    </div>

    <div id="preview" class="col-md-6">
      Preview
    </div>
  </div>


</div>

</body>
<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/underscore.js/1.6.0/underscore-min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
  $(function() {
    var VALIDATED_MIMES = ['image/jpeg', 'image/png'];

    // View
    $('#selector').change(function() {
      var self = $(this).children(':selected');
      if (self.attr('data-type') === 'file' && _.contains(VALIDATED_MIMES, self.attr('data-mime'))) {
        $('#preview').html(
                        '<img class="img-thumbnail" src="' + self.attr('data-url') + '" alt="' + self.val() + '"/>' +
                                '<pre>![' + self.val() + '](htpp://upload-log4d.qiniudn.com/' + $('#current_dir').val() + '/' + self.attr('data-url') + ')' + '</pre>'
        );
      } else {
        $('#preview').html('content type not support preview');
      }
    });

    $('#selector').keyup(function(event) {
      var self = $(this).children(':selected');

      if (event.key == 'Enter') {  // Enter
        if (self.attr('data-type') === 'file' && _.contains(VALIDATED_MIMES, self.attr('data-mime'))) {
          window.open(self.attr('data-url'), 'window name', 'window settings');
        } else if (self.attr('data-type') === 'dir') {
          window.location = self.attr('data-url');
        } else {
          return
        }

      } else if (event.key === 'd') {  // Delete
        var isConfirm = confirm('Delete' + self.val());
        if (!isConfirm) return false;
        $.post('/_api/delete', {'path': '/' + ($('#current_dir').val() == '' ? '' : $('#current_dir').val() + '/') + self.val()}).done(function(data) {
          window.location.reload();
        }).fail(function(data) {
          alert('fail' + response.responseText);
        });
        return false;

      } else if (event.key === 'N') { // Mkdir
        var name = prompt('Dir name?');
        if (name === null) return false;
        $.post('/_api/mkdir', {'path': '/' + ($('#current_dir').val() == '' ? '' : $('#current_dir').val() + '/') + name}).done(function(data) {
          window.location.reload();
        }).fail(function(response) {
          alert('fail' + response.responseText);
        });
        return false;
      }
    });

    $('#selector option').dblclick(function() {
      var self = $(this);
      if (self.attr('data-type') === 'file' && _.contains(['image/jpeg', 'image/png'], self.attr('data-filetype'))) {
        window.open(self.attr('data-url'), 'window name', 'window settings');
      } else if (self.attr('data-type') === 'dir') {
        window.location = self.attr('data-url');
      } else {
        return false;
      }
    });
  });
</script>
</html>