<html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title><%block name="title">KuKu - online image manager based on web.py</%block></title>
  <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/static/stylesheets/general_foundicons.css">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/stylesheets/general_foundicons_ie7.css">
  <![endif]-->
  <link rel="stylesheet" href="/static/stylesheets/kuku.css">
  ##<link rel="stylesheet" href="/static/stylesheets/fileuploader.css">

  <script src="/static/javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%block name="css"></%block>

</head>
<body>
	<div class="row">
		<div class="twelve columns">
			<div class="eight columns">
				<h2>Welcome to KuKu</h2>
			</div>
			<div class="four columns right">
				<p>Powered by <a href="http://webpy.org/">web.py</a> &amp; <a href="http://log4d.com">alswl</a></p>
			</div>
			<hr>
		</div>
	</div>

	${self.body()}

	<!-- Included JS Files (Compressed) -->
	<script src="/static/javascripts/jquery.js"></script>
	<script src="/static/javascripts/foundation.min.js"></script>
	<script src="/static/javascripts/fileuploader.js"></script>

	<!-- Initialize JS Plugins -->
	<%block name="before_js"></%block>
	<script src="/static/javascripts/kuku.js"></script>
	<%block name="after_js"></%block>
</body>
</html>

## vim: set ft=mako:
