<%inherit file="/base.html"/>

<div class="row">
	<div class="twelve columns">
		<ul class="breadcrumbs">
			% for (name, url) in page.breadcrumbs[:-1]:
				<li><a href="${url}">${name}</a></li>
			% endfor
			<li class="current"><a href="${page.breadcrumbs[-1][1]}">${page.breadcrumbs[-1][0]}</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="ten columns">
		<table class="twelve">
			<thead>
				<th></th>
				<th>File Name</th>
				<th>Size</th>
				<th>Last Modified Time</th>
				<th class="tc">Delete</th>
			</thead>
			<tbody>
				% for d in page.dirs:
				<tr class="hover-toggle">
					<td><i class="foundicon-folder"></i></td>
					<td><a href="/${page.relative_path}/${d}/">${d}/</a></td>
					<td></td>
					<td></td>
					<td class="tc">
						<a href="javascript:;" class="hidden hover-toggle-btn"><i class="foundicon-trash"></i></a>
					</td>
				</tr>
				% endfor
				% for f in page.files:
				<tr class="hover-toggle">
					<td><i class="foundicon-page"></i></td>
					<td><a href="/${page.relative_path}/${f}">${f}</a></td>
					<td></td>
					<td></td>
					<td class="tc">
						<a href="javascript:;" class="hidden hover-toggle-btn"><i class="foundicon-trash"></i></a>
					</td>
				</tr>
				% endfor
			</tbody>
		</table>
	</div>
	<div class="two columns">
		<div class="panel">
			<ul class="nav-bar vertical">
				<li>
					<a id="upload_btn">
						<i class="foundicon-page"></i><i class="foundicon-up-arrow"></i>
					</a>
				</li>
				<li>
					<a id="mkdir_btn" href="javascript:;">
						<i class="foundicon-folder"></i><i class="foundicon-plus"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="mkdir_pnl" class="reveal-modal medium">
	<h2>Create Directory</h2>

	<div class="row">
		<div class="two columns">
			<label class="right inline">Name: </label>
		</div>
		<div class="ten columns">
			<div class="row collapse">
				<div class="eight mobile-three columns">
					<input type="text" placeholder="eg. travel picture" />
				</div>
				<div class="four mobile-one columns">
					<a href="javascript:;" class="postfix button expand submit">Create</a>
				</div>
			</div>
		</div>
	</div>

</div>


<%block name="before_js">
<script>
	$(function() {
		$g.page = {};
		$g.page.path = '${page.relative_path}';
	});
</script>
</%block>

## vim: set ft=mako:
